.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.same-width {
  width: 106px;
  height: 37px;
  line-height: 30px!important;
}
.dropdown-toggle::after
{
  content: none!important;
}
.sort.dropdown-menu {
  min-width: 6rem!important;
  padding-left: .5rem!important;
}
.sort.dropdown-menu a {
  position: relative;
}
.sort.dropdown-menu a .active {
  left: 4px;
  position: absolute;
  top: 9px;
}
.sort.dropdown-menu a:hover {
  cursor: pointer!important;
}
.sort.dropdown-menu a:active {
  background-color: unset!important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
